
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" th:href="@{/css/lib-admin/bootstrap.min.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link type="text/css" rel="stylesheet" th:href="@{/css/admin.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/css/category.css}" />
<title>Attribute</title>
</head>
<body>
	<!-- navbar -->
	<div th:replace="admin/navbar :: navbar"></div>
	<!-- navbar -->

	<div class="container-fluid">
		<div class="row flex-nowrap">

			<div th:replace="admin/slidebar :: slidebar"></div>

			<div class="col py-3">
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="pills-home-tab"
							data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
							role="tab" aria-controls="pills-home" aria-selected="true" onclick="loadData(0,'size')" th:text="#{addSize}"></button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="pills-profile-tab"
							data-bs-toggle="pill" data-bs-target="#pills-profile"
							type="button" role="tab" aria-controls="pills-profile"
							aria-selected="false" onclick="loadData(0,'color','')" th:text="#{addColor}"></button>
					</li>
				</ul>
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-home"
						role="tabpanel" aria-labelledby="pills-home-tab">
						
							<div class="row pt-5">
								<hr>
								<h3 th:text="#{productSize}"></h3>
								<br> <br>
								<div class="col-6">
									<p th:text="#{sizeContent1}"></p>
									<p>
										<b th:text="#{note}"></b> <span th:text="#{sizeContent2}"></span>
									</p>
									<h5 th:text="#{addNewSize}"></h5>
										<div class="form-group">
											<b for="name" th:text="#{name}"></b> 
										
											<input id="sizeAttributeValueName" class="form-control"
												type="text" name="sizeAttributeValueName">
												<small style="height:20px" th:id="sizeAttributeValueName-error" class="text-danger form-text"></small><br>
										 <small
												class="form-text text-muted" th:text="#{sizeNameContent}" ></small>
										</div>
										<br>
										<button class="btn btn-primary" th:id="addSize" type="button" th:onclick="addAttribute(event)" th:text="#{addNewSize}"></button>
								</div>
								<div class="col-6">
									<div class="row col-lg-10 d-flex">
										<div class=" col-lg-12 mb-4">
												<div class="input-group">
													<input type="text" name="keyword5" value=""
														class="form-control" id="size-key-word" placeholder="Enter keyword">
													<div class="input-group-append">
														<button class="btn btn-primary" id="size-search">
															<i class="fas fa-search"></i>
														</button>
													</div>
													
												</div>
												
										</div>
										
										
									</div>
									<button  id="reset-size"><span><i class="fas fa-sync"></i></span></button>
									<table th:id="size-table" class="table">
										<thead>
											<tr>
												<th scope="col" th:text="#{number}"></th>
			                                   <th scope="col" th:text="#{name}"></th>
			                                   <th scope="col" th:text="#{edit}"></th>
			                                   <th scope="col" th:text="#{delete}"></th>
											</tr>
										</thead>
										<tbody>
											
										</tbody>
									</table>
									<nav class="float-right" th:id="size-paging"></nav>
								</div>
							</div>
						

					</div>
					<div class="tab-pane fade" id="pills-profile" role="tabpanel"
						aria-labelledby="pills-profile-tab">
						
							<div class="row pt-5">
								<hr>
								<h3 th:text="#{productColor}"></h3>
								<br> <br>
								<div class="col-6">
									<p th:text="#{sizeContent1}"></p>
									<p>
										<b th:text="#{note}"></b> <span th:text="#{sizeContent2}"></span>
									</p>
									<h5 th:text="#{addNewColor}"></h5>
									<form action="">
										<div class="form-group">
											<b for="name" th:text="#{name}"></b> 
										
											<input id="colorAttributeValueName" class="form-control"
												type="text" name="attributeValueName">
												<small style="height:20px" th:id="colorAttributeValueName-error" class="text-danger form-text"></small><br>
										 <small
												class="form-text text-muted" th:text="#{colorNameContent}"></small>
										</div>
										<br>
										<button class="btn btn-primary" th:id="addColor" type="button" th:onclick="addAttribute(event)" th:text="#{addNewColor}"></button>
									</form>
								</div>
								<div class="col-6">
									<div class="row col-lg-10 d-flex">
										<div class=" col-lg-12 mb-4">
												<div class="input-group">
													<input type="text" name="keyword5" value=""
														class="form-control" id="color-key-word" placeholder="Enter keyword">
													<div class="input-group-append">
														<button class="btn btn-primary" id="color-search">
															<i class="fas fa-search"></i>
														</button>
													</div>
													
												</div>
												
										</div>
										
										
									</div>
									<button  id="reset-color"><span><i class="fas fa-sync"></i></span></button>
									<table th:id="color-table" class="table">
										<thead>
											<tr>
												<th scope="col" th:text="#{number}"></th>
			                                   <th scope="col" th:text="#{name}"></th>
			                                   <th scope="col" th:text="#{edit}"></th>
			                                   <th scope="col" th:text="#{delete}"></th>
											</tr>
										</thead>
										<tbody>
									
										


									</tbody>
								</table>
								<nav class="float-right"  th:id="color-paging"></nav>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal delete-->
	<div class="modal fade" id="deleteAttributeValue">
	 <div class="modal-dialog">
	  <div class="modal-content">
	   <div class="modal-header">
	    <h5 class="modal-title" id="exampleModalLabel" th:text="#{deleteAttributeValue}"></h5>
	    <button th:class="close-delete" type="button" class="close" data-bs-dismiss="modal">&times;</button>
	   </div>
	   <div class="modal-body">
	    <p>Are you sure you want to delete?</p>
	    <input type="hidden" th:id="attributeValueIdDeleteModal" name="attributeValue">
	    <input type="hidden" th:id="attributeNameDeleteModal" class="form-control"
				 name="attributeName">
	  </div>
	  <div class="modal-footer">
	   <button th:class="close-delete" type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{cancel}"></button>
	    <button type="button" class="btn btn-danger" th:id="delete-attribute-value" th:text="#{delete}"></button>
	   </div>
	  </div>
	 </div>
	</div>
	
	<!-- Modal edit-->
	<div class="modal fade" id="editAttributeValue">
	 <div class="modal-dialog">
	  <div class="modal-content">
	   <div class="modal-header">
	    <h5 class="modal-title" id="exampleModalLabel" th:text="#{editAttributeValue}"></h5>
	    <button th:class="close-edit" type="button" class="close" data-bs-dismiss="modal">&times;</button>
	   </div>
	   <div class="modal-body">
	    	<b for="name">Name</b> 		
	    	
	    	<input th:id="attributeValueIdModal" class="form-control"
				type="hidden" name="attributeValueIdModal">
			<input type="hidden" th:id="attributeNameModal" class="form-control"
				 name="attributeName">
			<input th:id="attributeValueNameModal" class="form-control"
				type="text" name="attributeValueName">
			<small style="height:20px" th:id="attributeValueNameModal-error" class="text-danger form-text"></small><br>
	    <input type="hidden" th:id="attributeValueId" name="attributeValue">
	  </div>
	  <div class="modal-footer">
	   <button th:class="close-edit" type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{cancel}"></button>
	    <button type="button" class="btn bg-primary" th:id="edit-attribute-value" th:text="#{update}"></button>
	   </div>
	  </div>
	 </div>
	</div>
	
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/lib-admin/bootstrap.min.js}" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
	
		
<script th:src="@{/js/attributeValue.js}" type="text/javascript"></script>
<script th:src="@{/js/logout.js}" type="text/javascript"></script>
</body>
</html>