<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" th:href="@{/css/lib-admin/bootstrap.min.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link type="text/css" rel="stylesheet" th:href="@{/css/admin.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/css/account.css}" />
<title>User</title>
</head>
<body>
	<!-- navbar -->
	<div th:replace="admin/navbar :: navbar"></div>
	<!-- navbar -->
	<div class="container-fluid">
		<div class="row flex-nowrap">

			<div th:replace="admin/slidebar :: slidebar"></div>

			 <div class="col py-3">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 bg-primary text-white">
                        <h6 class="m-0 fw-bold" th:text="#{changePassword}"></h6>
                    </div>
                    <div class="card-body">
                       
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="oldPassword" class="form-label fw-bold" th:text="#{curentPassword}"></label>
                                        <input type="password" class="form-control" id="currentPassword" placeholder="Enter old password">
                                        <small th:id="currentPassword-error" class="form-text text-muted"></small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="newPassword" class="form-label fw-bold" th:text="#{newPassword}"></label>
                                        <input type="password" class="form-control" id="newPassword" placeholder="Enter new password">
                                        <small th:id="newPassword-error" class="form-text text-muted"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="confirmNewPassword" class="form-label fw-bold" th:text="#{confirmNewPassword}"></label>
                                        <input type="password" class="form-control" id="confirmNewPassword" placeholder="Confirm new password">
                                        <small th:id="confirmNewPassword-error" class="form-text text-muted"></small>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="changePassword()" th:text="#{confirm}"></button>
                      
                    </div>
                    
                </div>
            </div>
		</div>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/lib-admin/bootstrap.min.js}" type="text/javascript"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
	<script th:src="@{/js/changePassword.js}" type="text/javascript"></script>
	<script th:src="@{/js/logout.js}" type="text/javascript"></script>
</body>
</html>