<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" th:href="@{/css/lib-admin/bootstrap.min.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link type="text/css" rel="stylesheet" th:href="@{/css/admin.css}" />
<title>Feedback details</title>
</head>
<body>
	<!-- navbar -->
	<div th:replace="admin/navbar :: navbar"></div>
	<!-- navbar -->
	<div class="container-fluid">
		<div class="row flex-nowrap">

			<div th:replace="admin/slidebar :: slidebar"></div>

			<div class="col py-3">
				<h1 class="h3 mb-2 text-gray-800" th:text="#{feedbackDetails}"></h1>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" th:text="#{feedbackView}"></h6>
                    </div>
                    <div class="card-body">
                        <a href="feedback" class="btn btn-primary mb-3" type="button"><i
                                class="fs-6 bi bi-arrow-left-circle-fill"></i><span th:text="#{back}"></span></a>
                        <dl class="row">
                            <dt class="col-sm-2">Fullname: </dt>
                            <dd class="col-sm-10">Pham Minh Trung</dd>

                            <dt class="col-sm-2">Email: </dt>
                            <dd class="col-sm-10">trungpmpd05907@fpt.edu.vn</dd>

                            <dt class="col-sm-2">Phone: </dt>
                            <dd class="col-sm-10">0123456789</dd>

                            <dt class="col-sm-2">Subject: </dt>
                            <dd class="col-sm-10">This can be useful when space is tight. Adds an ellipsis at the end.
                            </dd>

                            <dt class="col-sm-2">Note: </dt>
                            <dd class="col-sm-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. In tempore ad
                                ratione. Beatae, autem odio, iusto molestiae illo fugiat eveniet delectus vero rerum
                                minima culpa est excepturi temporibus aut. Temporibus! </dd>
                        </dl>
                        
                    </div>
                </div>
			</div>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/lib-admin/bootstrap.min.js}" type="text/javascript"></script>
		<script th:src="@{/js/logout.js}" type="text/javascript"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
</body>
</html>