@charset "ISO-8859-1";
.shopee-avatar__img {
    border-radius: 50%;
    width: 35%;
}

.mC1Llc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333
}

._78QHr1 {
    color: #888;
    text-transform: capitalize;
    text-decoration: none;
    font-size : 12px
}

.rhmIbk {
    list-style: none;
    padding: 0;
    margin: 27px 0 0;
    cursor: pointer;
}

.hiXKxx {
    margin: 12px 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: 0.125rem;
}

.x0QT2k:first-child {
    padding-top: 24px;
}
.VrgkXA {
    padding: 4px 0 ;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    color: #212121;
    background: #eaeaea;
    border-radius: 2px;
}
.VrgkXA>input {
    flex: 1;
    font-size: 14px;
    line-height: 16px;
    border: 0;
    outline: none;
    background-color: inherit;
}

.x0QT2k {
    padding: 12px 24px;
    background: #fff;
}

.card {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .13);
    border-radius: 0.125rem;
}

.hiXKxx {
    margin: 12px 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: 0.125rem;
}

.KrPQEI {
    padding: 20px;
    border-bottom: 0.0625rem solid #efefef;
    justify-content: space-between;
}

._0RxYUS,
.KrPQEI {
    display: flex;
    align-items: center;
}

.KmBIg2 {
    text-decoration: none;
    color: #26aa99;
}

._9Ro5mP {
    max-width: 200px;
    margin-left: 8px;
    /* font-size: 14px; */
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}

.qCUYY8 {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.V\+w7Xs {
    line-height: 24px;
    color: #ee4d2d;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
}

.EQko8g {
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
}

.rGP9Yd {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border: 1px solid #e1e1e1;
    background: #e1e1e1;
}

.shopee-image__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.shopee-image__place-holder {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fafafa;
}

.shopee-image__content--blur {
    width: 100px;
    height: 100px;
    object-fit: cover;
  	object-position : center center;
}

._7uZf6Q {
    min-width: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: break-word;
}

.iJlxsT {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0 0 5px;
    font-size: 16px;
    line-height: 22px;
    max-height: 48px;
}

.vb0b-P {
    color: rgba(0, 0, 0, .54);
}

._8ex9dW {
    padding: 2px 4px;
    margin: 0 6px 0 0;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
    border-radius: 1px;
    color: #ee4d2d;
    border: 0.5px solid #ee4d2d;
}

.j2En5\+ {
    margin: 0 4px 0 0;
    -webkit-text-decoration-line: line-through;
    -moz-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: #000;
    opacity: .26;
    overflow: hidden;
    text-overflow: ellipsis;
}

.OkfGBc {
    color: #ee4d2d;
}

.-x3Dqh,
.j2En5\+,
.kCaFF- {
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
}

.kvXy0c {
    padding: 24px 24px 12px;
    background: #fffefb;
    border-top: 0.0625rem solid #efefef;
}

.\-78s2g {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.IlORNJ {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 5px 0 0;
    line-height: 0;
}

._0NMXyN {
    margin: 0 10px 0 0;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, .8);
}

.DeWpya {
    color: #ee4d2d;
    font-size: 24px;
    line-height: 30px;
}

.AM4Cxf {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    background: #fffefb;
}

.qtUncs {
    min-width: 300px;
    max-width: 400px;
    display: flex;
    align-items: center;
    grid-gap: 4px;
    gap: 4px;
    flex-grow: 1;
    word-wrap: break-word;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, .54);
    height: 130px;
}

.EOjXew {
    display: flex;
    float: right;
    padding: 40px 30px 0 0px;
}
.PF0-AU,
.PgtIur {
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
}

.stardust-button--primary {
    background-color: #ee4d2d;
    border-color: #cd3011;
    color: #fff;
}

.stardust-button--primary.stardust-button--active,
.stardust-button--primary:hover {
    background-color: #d73211;
    border-color: #ba2b0f;
}

.stardust-button {
    font-weight: 400;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .26);
    padding: 8px 10px;
}

.WgYvse:not(.stardust-button--primary):hover:not(.ToSnPt) {
    background-color: rgba(0, 0, 0, .02);
    border: 1px solid rgba(0, 0, 0, .09);
}

.WgYvse {
    min-width: 150px;
    min-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    outline: 0;
}

.PF0-AU,
.PgtIur {
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
}

.WgYvse:not(.stardust-button--primary) {
    color: #555;
    border: 1px solid rgba(0, 0, 0, .09);
}
/* order */
.yO9lYJ {
    display: flex;
    margin-right: 16px;
    color: rgba(0,0,0,.54);
}
.EkDKzu {
    margin: 0 16px;
}
.capx2D {
    color: #ee4d2d;
    text-transform: uppercase;
}
.mu8SJw {
    padding: 20px 24px 24px;
}
._0Ihttg {
    padding: 0 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.PW9gQm {
    text-transform: capitalize;
    color: rgba(0,0,0,.8);
    font-size: 20px;
    line-height: 24px;
}
.wMj1t2 {
    display: flex;
}
.iWu\+Gv {
    max-width: 100%;
    padding: 10px 24px 0 0;
    line-height: 22px;
    flex: 1;
}
.KZmoHt {
    max-width: 100%;
    margin: 0 0 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0,0,0,.8);
}
.AnJAa1 {
    color: rgba(0,0,0,.54);
    font-size: 12px;
    white-space: pre-line;
}
.ifE\+r- {
    width: 620px;
    padding: 4px 0 0 12px;
    border-left: 1px solid rgba(0,0,0,.09);
}
.rqUx-N {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 0;
    grid-gap: 12px;
    gap: 12px;
}
.cuJgPF .JNurwA {
    color: #26aa99;
}
.JNurwA {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    color: rgba(0,0,0,.54);
    font-size: 14px;
}
.rVemEI {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    min-width: 24px;
}
.rVemEI .AXDO-g {
    position: relative;
    height: 24px;
    width: 24px;
    z-index: 2;
}
.B3MLEe {
    width: 120px;
    margin-top: 3px;
    flex-shrink: 0;
    color: rgba(0,0,0,.8);
    padding: 0 12px;
}
.u4VSsO {
    min-width: 0;
}
.u4VSsO p._0P1byN {
    font-weight: 700;
    margin-bottom: -2px;
}
.KrPQEI2 {
    margin-top: 30px;
    border-bottom: 0.0625rem solid #efefef;
    justify-content: space-between;
}
.RZJjTX {
    background-color: #fafafa;
    border-top: 1px solid rgba(0,0,0,.09);
}
.TokOv1 {
    padding: 0 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    border-bottom: 1px dotted rgba(0,0,0,.09);
}
._8kMYJ3 {
    padding: 13px 10px;
    color: rgba(0,0,0,.54);
    font-size: 12px;
}
.CxyZBG {
    padding: 13px 0 13px 10px;
    width: 240px;
    border-left: 1px dotted rgba(0,0,0,.09);
    justify-content: flex-end;
    word-wrap: break-word;
    color: rgba(0,0,0,.8);
}
.TokOv1:last-child {
    border: 0;
}
.a59vwO {
    align-items: flex-start;
}
.TokOv1 {
    padding: 0 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    border-bottom: 1px dotted rgba(0,0,0,.09);
}
.B6pCRN {
    padding-top: 20px;
}
._8kMYJ3 {
    padding: 13px 10px;
    color: rgba(0,0,0,.54);
    font-size: 12px;
}
.CxyZBG {
    padding: 13px 0 13px 10px;
    width: 240px;
    border-left: 1px dotted rgba(0,0,0,.09);
    justify-content: flex-end;
    word-wrap: break-word;
    color: rgba(0,0,0,.8);
}
._8ZGgbl {
    color: #ee4d2d;
    font-size: 24px;
}
.O2KPzo {
    width: 100%;
    height: 0;
    border-bottom: 1px dotted rgba(0,0,0,.09);
    position: relative;
}
.x5GTyN{
	color: #333;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    text-transform: capitalize;
    height: calc(325px - 295px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    word-wrap: break-word;
}
.row-product{
	display: flex;
    height: 110px;
    border-bottom: 1px #bcbaba57 solid;
    margin-bottom: 5px;
}

.btn-contact{
	background: #293a6c;
	color: #fff;
}

